/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.card .item{
  background: #ffffba;
}

.cardItem {
	margin-bottom: 20px;
}

h2 {
	color: #67d3f9;
	font-weight: bold;
}

.info {
	float: left;
}

.score {
	float: right;
}